:root{
  --circle-color: #89D2FF;
  --triangle-color: #FF8989;
  --title-color: #AEAEAE;
  --border-color: #E4E4E4;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.graph-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.graph {
  border-bottom: 2px solid var(--border-color);
  padding-bottom: .5em;
  flex: 0 1 25%;

}

.graph > .graph-box {
  margin: auto;
  text-align: center;
  padding: 1em 2em 0;
}

.graph-info {
  display: flex;
  justify-content: space-between;
  flex: 1 1 100%;
}

.graph-device {
  flex: 1 1 50%;
}
.graph-device.tablet {
  text-align: left;
}
.graph-device.smartphone {
  text-align: right;
}

.value-int {
  color: var(--title-color);
}

.title  {
  font-size: 20px;
  color: var(--title-color);
}

.total-value {
  font-size: 26px;
}
.info-title {
  font-weight: 600;
  display: block;
}