:root{
  --circle-color: #89D2FF;
  --triangle-color: #FF8989;
  --title-color: #AEAEAE;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2 {
  /* font-family: Lato; */
  /* font-family: 'Source Sans Pro', sans-serif; */

}


.title  {
  font-size: 20px;
  color: var(--title-color);
}

.total-value {
  font-size: 28px;
}
div.bar {
				display: inline-block;
				width: 20px;
				height: 75px;	/* Gets overriden by D3-assigned height below */
				margin-right: 2px;
				background-color: teal;
			}